[user]
    name = John Parks
    email = jrparks9469@gmail.com
    username = jrparks9469
[core]
    editor = nvim
    excludesfiles = ~/.gitignore
[web]
    browser = firefox
[color]
    ui = auto
[credential]
	helper = store
